language: scala
sudo: false
jdk: oraclejdk8
script:
- sbt scalafmt::test test:scalafmt::test sbt:scalafmt::test ^scripted
cache:
  directories:
  - $HOME/.ivy2/cache
  - $HOME/.sbt/launchers
before_cache:
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
